/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

a svg {
  display: inline !important;
}

nav a {
  text-decoration: none !important;
}

footer a {
  text-decoration: none !important;
}